<div class="flex flex-col items-center justify-center w-full">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {
    :class => "w-full mb-6 space-y-3"
  }) do |f| %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "text-input" %>

    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "text-input" %>

    <% if devise_mapping.rememberable? %>
      <div class="flex items-center !my-4">
        <%= f.check_box :remember_me, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
        <%= f.label :remember_me, class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      </div>
    <% end %>

    <%= f.submit "Login", class: "ring-offset-background focus-visible:ring-ring flex h-10 w-full items-center justify-center whitespace-nowrap rounded-md bg-black px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-black/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50" %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "inline-flex cursor-pointer items-center relative text-gray-10 dark:text-gray-dark-10 p-[1px] transition hover:text-gray-11 dark:hover:text-gray-dark-11 font-light whitespace-nowrap focus:outline-none focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-primary-5 dark:focus-visible:ring-primary-dark-5 text-xs [&_svg]:w-3 [&_svg]:h-3 w-auto justify-center gap-1.5 underline" %>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
    <% end %>
    <div class="flex w-full flex-col gap-2 md:flex-row mt-6">
      <button class="flex items-center justify-center rounded-lg w-full h-11 px-4 gap-2 shadow-100 transition whitespace-nowrap bg-gray-1 dark:bg-gray-dark-1 text-gray-12 dark:text-gray-dark-12 border border-gray-5 dark:border-gray-dark-5 hover:bg-gray-2 dark:hover:bg-gray-dark-2 cursor-pointer hover:border-gray-8 dark:hover:border-gray-dark-8 focus:shadow-focus-100 focus:shadow-gray-5 dark:focus:shadow-gray-dark-5 text-sm"><%= render_icon 'google', classes: 'h-4 w-4' %> Google </button>
      <button class="flex items-center justify-center rounded-lg w-full h-11 px-4 gap-2 shadow-100 transition whitespace-nowrap bg-gray-1 dark:bg-gray-dark-1 text-gray-12 dark:text-gray-dark-12 border border-gray-5 dark:border-gray-dark-5 hover:bg-gray-2 dark:hover:bg-gray-dark-2 cursor-pointer hover:border-gray-8 dark:hover:border-gray-dark-8 focus:shadow-focus-100 focus:shadow-gray-5 dark:focus:shadow-gray-dark-5 text-sm"><%= render_icon 'github', classes: 'h-4 w-4' %>Github </button>
    </div>
  <% end %>
</div>
