<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Webshop - Dead Simple UI Components" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <meta name="turbo-cache-control" content="no-cache">
    <meta name="description" content="Dead Simple UI Components">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="flex flex-col min-h-screen">
      <%= render 'layouts/header' %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if devise_controller? %>
        <%= render 'layouts/devise' %>
      <% else %>
        <%= yield %>
      <% end %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
